<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>智能传感器监控平台</title>

</head>

<body ms-controller="platform">

<div class="wrap space_content">
  <!--顶部导航栏-->
  <div class="navbar navbar-fixed-top my_nav">
    <div class="navbar-header">
      <a class="navbar-brand navbar-brand-name navbar_name"><i class="fa fa-square-o "></i>&nbsp;智能传感器监控平台</a>
    </div>
  </div>
  <div class="col-md-8 col-lg-8 col-xs-12 main_content">
    <div class="dom">
      <div class="col-lg-6 col-md-6 col-xs-12 small_dom" id="temperature">
        hello
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 small_dom" id="light">
        hello1
      </div>
      <div class="col-lg-12 col-md-12 col-xs-12 big_dom" id="light">
        hello2
      </div>
    </div>
  </div>

</div>

<link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="../static/css/style.css" type="text/css">
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/avalon.js"></script>
<script src="../static/js/echarts.common.js"></script>
<script src="../static/js/draw.js"></script>
<script src="../static/js/main.js"></script>
</body>

</html>
